# Virtual environment
venv/
env/
.venv/

# Environment variables
.env
.env.production

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.eggs
*.egg-info/
dist/
build/

# Django
*.log
local_settings.py
db.sqlite3
media/
static_files/
profile_photos/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
